<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title and Detail Card</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

  <div class="container">
    <form action="/edit" method="POST">
        <div class="form-group">
          <input type="text" id="oldName" name="oldName" placeholder="Old Name" value="<%= oldName%>">
        </div>
        <div class="form-group">
            <input type="text" id="newName" name="newName" placeholder="New Name">
        </div>
        <div class="form-group">
          <button type="submit">Rename</button>
        </div>
      </form>
    <a href="/">Go back</a>
  </div>

</body>
</html>
