<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title and Detail Card</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

  <div class="container">
    <h2><%= fileName %></h2>
    <p><%= fileData %></p>
    <a href="/">Go back</a>
  </div>

</body>
</html>
